@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f3f3f3e1;
    font-family: "Poppins", sans-serif;
}
nav{
    height:72px;
    max-width: auto;
    display: flex;
    margin: 0 auto;
    padding: 15px 45px;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 35px;
}
nav ul li a{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
nav ul li a:hover{
    color: #a00202;
    border-bottom: 3px solid #a00202;
    border-radius: 5px;
}
.logo img{
    width: 120px;
}
button{
    all: unset;
    padding: 10px 25px;
    background-color: #a00202;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #7b0000;
}
