*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body{
  width: 100%;
  color: #000;

}
.Wrap{
  width: 100vw;
  height: 100vh;
  background-image: url('/public/images/car1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}